body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  background-color: #4e5ba6;
  width: 100%;
  padding: 14px 0 14px 130px;
}

#header-title {
  color: white;
  font-size: 24px;
  font-weight: extra-bold;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 84px 0;
}

#container {
  display: flex;
  width: 414px;
  flex-direction: column;
  padding: 52px 16px 32px;
  background-color: white;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #b4b4b4;
}

#title {
  display: flex;
  font-size: 20px;
  font-weight: semi-bold;
  margin: 0;
  width: 100%;
  justify-content: center;
  margin-bottom: 28px;
}

#input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 32px;
  gap: 4px;
}

#input-title {
  display: flex;
  font-size: 15px;
  font-weight: regular;
}

#input-body {
  display: flex;
  width: 100%;
  gap: 16px;
  height: 35px;

  & > input {
    display: flex;
    width: 100%;
    padding: 8px;
    border: 1px solid #b4b4b4;
    border-radius: 4px;
    font-size: 15px;
    font-weight: regular;
  }

  & > button {
    display: flex;
    width: 56px;
    height: 100%;
    background-color: #4e5ba6;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: regular;
    justify-content: center;
    align-items: center;
  }
}

#item-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;

  & > p {
    display: flex;
    font-size: 14px;
    margin: 0;
    font-weight: regular;
  }

  & > ul {
    display: flex;
    height: 276px;
    overflow: scroll;
    flex-direction: column;
    margin: 0;
    list-style-type: none;
    padding-left: 0;


    & > li {
      display: flex;
      gap: 4px;
      width: 100%;
      padding: 4px 0px;
    }
  }
}

#winner-number-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  & > h3 {
    display: flex;
    font-size: 14px;
    font-weight: regular;
  }
}

#winner-number-body {
  display: flex;
  justify-content: space-between;
  width: 100%;

  & > h3 {
    display: flex;
    margin-top: 0px;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: regular;
  }
}

#winning-number-input {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 27px;

  & > div {
    display: flex;
    gap: 8px;

    & > input {
      display: flex;
      width: 34px;
      height: 36px;
      border-radius: 4px;
      border: 1px solid #b4b4b4;
    }
  }

  & > input {
    display: flex;
    width: 34px;
    height: 36px;
    border-radius: 4px;
    border: 1px solid #b4b4b4;
    justify-content: center;
    align-items: center;
  }
}

#result-button {
  display: flex;
  width: 100%;
  background-color: #4e5ba6;
  border-radius: 4px;
  border: none;
  padding: 10px;
  color: white;
  justify-content: center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
